#name-main{
    font-size: 50px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    
}
body{
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Shrikhand', cursive;

}

h1#name-main{
color:#f7f7f7;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
}

#video-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}